# Project root directory path
ROOT_DIR=

# Include directory for header files
INCLUDE_DIR=

# Directory for build outputs
BUILD_DIR=

# Paths to external libraries (separate multiple paths with a semicolon)
LIBRARIES=

# Path to Unity project directory
UNITY_PROJECT_DIR=

# Name of the output DLL file (without extension)
DLL_OUTPUT_NAME=